@font-face {
  font-family: 'Noto Sans';
  src:
    url('src/app/fonts/NotoSans-Bold.ttf') format('truetype'),
    url('src/app/fonts/NotoSans-Regular.ttf') format('truetype'),
    url('src/app/fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('src/app/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('src/app/fonts/Nunito-Bold.ttf') format('truetype'),
    url('src/app/fonts/Nunito-Regular.ttf') format('truetype'),
    url('src/app/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('src/app/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src:
    url('src/app/fonts/Raleway-Bold.ttf') format('truetype'),
    url('src/app/fonts/Raleway-Regular.ttf') format('truetype'),
    url('src/app/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('src/app/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
